<div class="top-page">
  <div id="background" class="main-bg">
    <div class="tagline">
      <h1>
        <span>Find the room that suits you.</span>
      </h1>
      <h3>'Coz we will give you the best</h3>
    </div>
  </div>
</div>
