/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style: none;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #00000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #6F6F6F;
}

#main-wrapper {
  background-color: ivory;
}

#header .head-wrapper {
  width: 1044px;
  margin: 0 auto;
  position: relative;
  background-color: #99FFCC;
  overflow: auto;
}

.wrapper {
  width: 1044px;
  margin: 0 auto;
  position: relative;
}

.brand-logo {
  line-height:  0;
  padding: 7px 0;
  float: left;
}

.brand-name {
  float: left;
  color: #FFFFFFF;
}

.nav-wrapper {
  padding: 20px;
  float: right;
  text-decoration: none;
}

#header .nav-wrapper ul li {
  position: relative;
  float: left;
  padding: inherit;
}

a{
  text-decoration: none;
}

#footer .wrapper{
  padding-top: 7px;
  background-color: #99FFCC;
}

#footer .wrapper > p{
  text-align: center;
  color: white;
}

/*Custom CSS*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;

