<%= render "partial/header.html.erb" %>
  <!-- End #HEADER -->
  <!-- Start #Content -->
  <div id="content">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>
  <!-- Start #FOOTER -->
  <div id="footer">
    <div class="wrapper">
      <p>
        All Rights Reserved 2015 © Kuwarto.com
      </p>
    </div>
  </div>
</div>
</body>
</html>
